body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3C425F;
    background-color: #F1F3FE;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.button-orange {
    background: #FF8F0B;
    color: white;
}

.page {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 80px 1fr 70px;
    grid-template-areas:
        "nav header"
        "nav main"
        "footer footer";

    min-height: 100vh;
}

.page-nav {
    grid-area: nav;

    display: grid;
    grid-template-rows: 80px 1fr auto;
    background: white;
}

.logo {
    margin: 25px 0 20px 30px;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 20px 0 20px 60px;
    position: relative;
}

.menu-item:hover {
    background: #F1F3FE;
}

.menu-item::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
}

.menu-item-cabinet::before {
    background: url("../img/cabinet-icon.png") no-repeat center;
}

.menu-item-learn::before {
    background: url("../img/learn-icon.png") no-repeat center;
}

.menu-item-method::before {
    background: url("../img/method-icon.png") no-repeat center;
}

.menu-item-homework::before {
    background: url("../img/homework-icon.png") no-repeat center;
}

.menu-item-exams::before {
    background: url("../img/exams-icon.png") no-repeat center;
}

.menu-item-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3C425F;
    text-decoration: none;
}

.menu-item:hover .menu-item-link {
    font-weight: 500;
    color: #576BCC;
}

.menu-tools {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.menu-tools-item {
    padding: 20px 0 20px 60px;
    position: relative;
}

.menu-tools-item::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    background: url("../img/settings-icon.png") no-repeat center;
}

.menu-tools-item:hover {
    background: #F1F3FE;
}

.menu-tools-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3C425F;
    text-decoration: none;
}

.menu-tools-item:hover .menu-tools-link {
    font-weight: 500;
    color: #576BCC;
}

.page-header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr auto 80px;
    background: white;
}

.page-main {
    grid-area: main;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 300px auto 1fr;
    background: #F1F3FE;
}

.slider {
    grid-area: 1/1/2/2;

    position: relative;
    width: 820px;
    height: 300px;
    overflow: hidden;
}

.slider-title {
    position: relative;
}

.slider-text {
    position: relative;
}

.slider-link {
    position: relative;
}

.button-prev {
    position: relative;
}

.button-next {
    position: relative;
}

.slider-img {
    position: absolute;
    left: 0;
    top: 0;
}

.offers {
    grid-area: 2/1/3/2;
}

.offers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video {
    grid-area: 3/1/4/2;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.page-footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: 280px 1fr 290px;
    background: #3C425F;
}